<h2 class="is-size-2">Clipboards</h2>
<p-button (click)="toggleDialog()">Add new Clipboard</p-button>
<p-dialog
  [modal]="true"
  header="Add new clipboard item"
  [(visible)]="formVisible"
  [style]="{ width: '50vw' }"
>
  <form [formGroup]="clipboardForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="content" class="block">Content</label>
      <p-editor
        formControlName="content"
        [style]="{ height: '320px' }"
        [class.p-error]="clipboardForm.controls['content'].errors != null"
      ></p-editor>
      <small
        class="p-error"
        *ngFor="
          let error of clipboardForm.controls['content'].errors | keyvalue
        "
      >
        {{ error.value.message }}
      </small>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button type="submit" label="Submit" onclick="onSubmit()"></p-button>
    <button
      pButton
      (click)="toggleDialog()"
      label="Cancel"
      class="p-button-secondary"
    ></button>
  </ng-template>
</p-dialog>
