<h2 class="is-size-2 block">Clipboards</h2>
<button pButton class="block" (click)="toggleDialog()">Add new Clipboard</button>
<div class="columns">
  <p-card class="column is-one-third" *ngFor="let item of clipboards|async">
    {{item.content}}
  </p-card>
</div>
<p-dialog
  [modal]="true"
  header="Add new clipboard item"
  [(visible)]="formVisible"
  [style]="{ width: '50vw' }"
>
  <form [formGroup]="clipboardForm" (ngSubmit)="onSubmit()">
    <div class="block">
      <label for="content" class="row">Content</label>
      <textarea pInputTextarea
        formControlName="content"
        [class.p-error]="clipboardForm.controls['content'].errors != null"
        class="row"
        style="width: 100%;"
      ></textarea>
      <small
        class="p-error"
        *ngFor="
          let error of clipboardForm.controls['content'].errors | keyvalue
        "
      >
        {{ error.value.message }}
      </small>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button type="submit" label="Submit" (onClick)="onSubmit()"></p-button>
    <button
      pButton
      (click)="toggleDialog()"
      label="Cancel"
      class="p-button-secondary"
    ></button>
  </ng-template>
</p-dialog>
